#home{
    width: 100%;
    height: 850px;
    background-color: #c0c0c0;
    padding-top: 35px;
}
#divcarrocel{
    width: 850px;
    height: 400px;
    background: #000;
    margin-left: calc(50% - 425px);

}
#carrocel{
    width: 850px;
    height: 400px;
}

@media screen and (min-width: 0) and (max-width: 576px){
    #divcarrocel{
        width: 400px;
        height: 180px;
        margin-left: calc(50% - 200px);
    }
    #carrocel{
        width: 400px;
        height: 180px;
    }
}