@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import 'topo.css';
@import 'home.css';
@import 'produtos.css';
@import 'sobre.css';
@import 'contato.css';
@import 'footer.css';

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#titulo{
    font-size: 48px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (min-width: 0) and (max-width: 544px){
    #titulo{
        font-size: 41px;
    }
}