#topo{
    background-color: #232323;
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 60px;
}
#topo ul{
    align-items: center;
}
#topo ul li{
    display: inline-block;
}
#topo ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 60px;
    display: block;
}

@media screen and (min-width: 0) and (max-width: 544px){
    #topo{
        font-size: 20px;
    }
    #topo ul li a{
        padding: 15px 18px;
    }
}